body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.four-zero-four {
  position: relative;
  display: flex;
  transition: all 1s ease-in-out;
  perspective: 500px;
}

@keyframes title-vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.four-zero-four__title {
  animation-name: title-vanish;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  font-size: 30vw;
  color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  line-height: 1.08;
  font-weight: 900;
}

.four-zero-four__pixel-51, .four-zero-four__pixel-50, .four-zero-four__pixel-49, .four-zero-four__pixel-48, .four-zero-four__pixel-47, .four-zero-four__pixel-46, .four-zero-four__pixel-45, .four-zero-four__pixel-44, .four-zero-four__pixel-43, .four-zero-four__pixel-42, .four-zero-four__pixel-41, .four-zero-four__pixel-40, .four-zero-four__pixel-39, .four-zero-four__pixel-38, .four-zero-four__pixel-37, .four-zero-four__pixel-36, .four-zero-four__pixel-35, .four-zero-four__pixel-34, .four-zero-four__pixel-33, .four-zero-four__pixel-32, .four-zero-four__pixel-31, .four-zero-four__pixel-30, .four-zero-four__pixel-29, .four-zero-four__pixel-28, .four-zero-four__pixel-27, .four-zero-four__pixel-26, .four-zero-four__pixel-25, .four-zero-four__pixel-24, .four-zero-four__pixel-23, .four-zero-four__pixel-22, .four-zero-four__pixel-21, .four-zero-four__pixel-20, .four-zero-four__pixel-19, .four-zero-four__pixel-18, .four-zero-four__pixel-17, .four-zero-four__pixel-16, .four-zero-four__pixel-15, .four-zero-four__pixel-14, .four-zero-four__pixel-13, .four-zero-four__pixel-12, .four-zero-four__pixel-11, .four-zero-four__pixel-10, .four-zero-four__pixel-9, .four-zero-four__pixel-8, .four-zero-four__pixel-7, .four-zero-four__pixel-6, .four-zero-four__pixel-5, .four-zero-four__pixel-4, .four-zero-four__pixel-3, .four-zero-four__pixel-2, .four-zero-four__pixel-1, .four-zero-four__pixel-0 {
  position: absolute;
  width: 7%;
  height: auto;
  object-fit: contain;
}

.four-zero-four__pixel-0 {
  left: 19%;
  top: 18%;
}

.four-zero-four__pixel-1 {
  left: 15%;
  top: 25%;
}

.four-zero-four__pixel-2 {
  left: 12%;
  top: 32%;
}

.four-zero-four__pixel-3 {
  left: 8%;
  top: 39%;
}

.four-zero-four__pixel-4 {
  left: 4%;
  top: 47%;
}

.four-zero-four__pixel-5 {
  left: 1%;
  top: 55%;
}

.four-zero-four__pixel-6 {
  left: -2%;
  top: 62%;
}

.four-zero-four__pixel-7 {
  left: 5%;
  top: 62%;
}

.four-zero-four__pixel-8 {
  left: 12%;
  top: 62%;
}

.four-zero-four__pixel-9 {
  left: 19%;
  top: 62%;
}

.four-zero-four__pixel-10 {
  left: 25.5%;
  top: 62%;
}

.four-zero-four__pixel-11 {
  left: 19%;
  top: 27%;
}

.four-zero-four__pixel-12 {
  left: 19%;
  top: 35.5%;
}

.four-zero-four__pixel-13 {
  left: 19%;
  top: 43.5%;
}

.four-zero-four__pixel-14 {
  left: 19%;
  top: 53%;
}

.four-zero-four__pixel-15 {
  left: 19%;
  top: 70%;
}

.four-zero-four__pixel-16 {
  left: 19%;
  top: 79%;
}

.four-zero-four__pixel-17 {
  left: 47%;
  top: 18%;
}

.four-zero-four__pixel-18 {
  left: 52%;
  top: 20%;
}

.four-zero-four__pixel-19 {
  left: 55%;
  top: 26%;
}

.four-zero-four__pixel-20 {
  left: 57%;
  top: 34%;
}

.four-zero-four__pixel-21 {
  left: 58%;
  top: 43%;
}

.four-zero-four__pixel-22 {
  left: 58%;
  top: 52%;
}

.four-zero-four__pixel-23 {
  left: 57%;
  top: 61%;
}

.four-zero-four__pixel-24 {
  left: 55.5%;
  top: 69%;
}

.four-zero-four__pixel-25 {
  left: 52%;
  top: 76%;
}

.four-zero-four__pixel-26 {
  left: 47%;
  top: 79%;
}

.four-zero-four__pixel-27 {
  left: 41%;
  top: 76%;
}

.four-zero-four__pixel-28 {
  left: 37%;
  top: 69%;
}

.four-zero-four__pixel-29 {
  left: 35.5%;
  top: 61%;
}

.four-zero-four__pixel-30 {
  left: 35%;
  top: 52%;
}

.four-zero-four__pixel-31 {
  left: 35%;
  top: 43%;
}

.four-zero-four__pixel-32 {
  left: 36%;
  top: 34%;
}

.four-zero-four__pixel-33 {
  left: 38%;
  top: 26%;
}

.four-zero-four__pixel-34 {
  left: 41%;
  top: 20%;
}

.four-zero-four__pixel-35 {
  left: 88%;
  top: 18%;
}

.four-zero-four__pixel-36 {
  left: 84%;
  top: 25%;
}

.four-zero-four__pixel-37 {
  left: 81%;
  top: 32%;
}

.four-zero-four__pixel-38 {
  left: 77%;
  top: 39%;
}

.four-zero-four__pixel-39 {
  left: 73%;
  top: 47%;
}

.four-zero-four__pixel-40 {
  left: 70%;
  top: 55%;
}

.four-zero-four__pixel-41 {
  left: 67%;
  top: 62%;
}

.four-zero-four__pixel-42 {
  left: 74%;
  top: 62%;
}

.four-zero-four__pixel-43 {
  left: 81%;
  top: 62%;
}

.four-zero-four__pixel-44 {
  left: 88%;
  top: 62%;
}

.four-zero-four__pixel-45 {
  left: 94.5%;
  top: 62%;
}

.four-zero-four__pixel-46 {
  left: 88%;
  top: 27%;
}

.four-zero-four__pixel-47 {
  left: 88%;
  top: 35.5%;
}

.four-zero-four__pixel-48 {
  left: 88%;
  top: 43.5%;
}

.four-zero-four__pixel-49 {
  left: 88%;
  top: 53%;
}

.four-zero-four__pixel-50 {
  left: 88%;
  top: 70%;
}

.four-zero-four__pixel-51 {
  left: 88%;
  top: 79%;
}

/*# sourceMappingURL=styles.css.map */
