.four {
  position: relative;
  display: flex;
  width: 380px;
  height: 228px;
}
.pixel {
  position: absolute;
  width: 32px;
  height: 24px;
  object-fit: contain;
}

$four-pixel-positions:
  ("left": 19%, "top": 18%),
  ("left": 15%, "top": 25%),
  ("left": 12%, "top": 32%),
  ("left": 8%, "top": 39%),
  ("left": 4%, "top": 47%),
  ("left": 1%, "top": 55%),
  ("left": -2%, "top": 62%),
  ("left": 5%, "top": 62%),
  ("left": 12%, "top": 62%),
  ("left": 19%, "top": 62%),
  ("left": 25.5%, "top": 62%),
  ("left": 19%, "top": 27%),
  ("left": 19%, "top": 35.5%),
  ("left": 19%, "top": 43.5%),
  ("left": 19%, "top": 53%),
  ("left": 19%, "top": 70%),
  ("left": 19%, "top": 79%);

@for $i from 1 through length($four-pixel-positions) {
  $position: nth($four-pixel-positions, $i);

  .four .pixel-#{$i - 1} {
    left: map-get($map: $position, $key: left);
    top: map-get($map: $position, $key: top);
  }
}